.skills{
    height: 20rem;
    width: 100vw;
 
}
.headingskills{
    font-size: 1.8rem;
    text-align: center;
}
.skills1{
    height: 20rem;
    width: 100vw;
    display: flex;
    
}

.react{
    height: 13rem;
    width: 17vw;
    margin-left: 5rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 50%;
}
.reactimg2{
    height: 6rem;
margin-left: 3rem;
margin-top: 3rem;
    

}
.htmlimg1{
    margin-left: 9rem;
height: 6rem;
margin-top: 5rem;
}
.tailwind{
    height: 13rem;
    width: 17vw;
    margin-left: 6rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 50%;
}
.tailwindimg1{
    height: 6rem;
    margin-top: 3rem;
    margin-left:2rem ;
}
.headingskills:hover{
    color: rgb(0,255,255);
}
@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    .skills{
        height: 18rem;
        width: 100vw;
        padding-top: -25rem;
        
     
    }
    .headingskills{
        font-size: 1.8rem;
        text-align: center;
    }
    .skills1{
        height: 20rem;
        width: 100vw;
        display: flex;
        
    }
    
    .react{
        height: 10rem;
        width: 20vw;
       margin-left: 1rem;
        border-radius: 50%;
        background-color: white;
        
    }
    .reactimg2{
        height: 4rem;


   margin-left: 2.5rem;
    margin-top: 3rem;
        
    
    }
    .htmlimg1{
        margin-left: 4rem;
    height: 5rem;
    margin-top: 5rem;
    }
    .tailwind{
        height: 10rem;
        width: 20vw;
        margin-left: 3rem;
        margin-top: 2rem;
        background-color: white;
        border-radius: 50%;
    }
    .tailwindimg1{
        height: 4rem;
        margin-top: 3rem;
        margin-left:2rem ;
    }
    .headingskills:hover{
        color: rgb(0,255,255);
    }
    
} 
